<div>
  <div class="d-flex justify-content-between align-items-center">
    <h1 id="tableLabel">Your packages</h1>
    <div class="input-group" style="max-width: 300px;">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">🔍</span>
      </div>
      <input
        (keyup)="onTermChanged($event)"
        name="Identifier"
        required
        placeholder="Start typing to filter"
        class="form-control"
        type="search"
        id="search"
        data-val="true"
        data-val-pattern="The code should contain 4 alphanumeric and 4 numeric characters"
        pattern="^([a-zA-Z]{4}[0-9]{4})"
      />
    </div>
  </div>
  <div *ngIf="isLoading | async">
    Loading Packages...
  </div>
  <div *ngIf="(packages | async).length > 0 && !(isLoading | async)">
    <package-row
      *ngFor="let package of packages | async"
      [package]="package"
    ></package-row>
  </div>
  <div
    *ngIf="(packages | async).length === 0 && !(isLoading | async)"
    class="d-flex align-items-center justify-content-center flex-column"
  >
    <img src="../../assets//nopackage.gif" alt="no-packages" />
    <p *ngIf="(term | async).length === 0">
      You can create your first one
      <a [routerLink]="['/package-tracking/create-mock-package']">here</a>.
    </p>
    <p *ngIf="(term | async).length > 0">
      Check your filter or create one new
      <a [routerLink]="['/package-tracking/create-mock-package']">here</a>.
    </p>
  </div>
</div>
