<h1>Hello, Roksh!</h1>
<p>Welcome to your new package tracking application, built with:</p>
<ul>
  <li>
    <a href="https://get.asp.net/">ASP.NET Core</a> and
    <a href="https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx">C#</a> for
    cross-platform server-side code
  </li>
  <li>
    <a href="https://angular.io/">Angular</a> and
    <a href="http://www.typescriptlang.org/">TypeScript</a> for client-side code
  </li>
  <li>
    <a href="http://getbootstrap.com/">Bootstrap</a> for layout and styling
  </li>
</ul>
<p>It includes the following features</p>
<ul>
  <li>
    <strong>Create Mock packages</strong>. Click
    <a [routerLink]="['/package-tracking/create-mock-package']">here</a> to
    create a Mock Package. It will create you a package entry with a tons of
    cool phones. Only for debugging purposes 😉
  </li>
  <li><strong>List your packages</strong>. You can even filter with a code</li>
  <li>
    <strong>Search</strong> a package with its <code>unique identifier</code>
    <br />
    <div class="d-flex justify-content-center">
      <div style="width: 450px;">
        <search-by-identifier></search-by-identifier>
      </div>
    </div>
  </li>
</ul>
